/*
Do not import 'values.css' here!
This would result in importing 'values.css' twice because
this file is imported into the main style which already
imports the values
*/

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: var(--root-spacing);
}

footer .column {
    flex: 50%;
}

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }

    footer .column {
        flex: 100%;
    }
}

footer nav a {
    display: block;
    margin-top: var(--spacing);
}

footer .icon {
    display: inline-block;
    background-color: var(--color-accent);
    padding: 4px;
    margin-right: var(--spacing);
    margin-bottom: var(--spacing);
    border-radius: var(--border-radius);
    /* remove whitespace */
    font-size: 0;
}
