/*
Do not import 'values.css' here!
This would result in importing 'values.css' twice because
this file is imported into the main style which already
imports the values
*/

/* || Header */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 30;

    background-color: var(--color-primary-a0);
    color: var(--color-on-primary);
    border-bottom: 1px solid var(--color-on-primary);
    padding: var(--spacing) var(--root-spacing);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title {
    color: var(--color-on-primary);
    flex-grow: 1;
    margin: 0;
    margin-left: 20px;
    font-size: 35px;
}

.menu-icon {
    margin-right: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    #title {
        font-size: 25px;
    }

    #sals-logo img,
    #mbg-logo img {
        height: 45px;
    }
}

@media only screen and (max-width: 800px) {
    .header {
        padding: var(--spacing);
    }

    #title {
        font-size: 20px;
    }

    #sals-logo img,
    #mbg-logo img {
        height: 40px;
    }
}

@media only screen and (max-width: 650px) {
    #sals-logo img,
    #mbg-logo img,
    #menu-icon {
        height: 35px;
    }

    #sals-logo {
        flex-grow: 1;
        align-self: flex-start;
    }

    #title {
        display: none;
    }
}

@media only screen and (max-width: 380px) {
    #mbg-logo,
    #title {
        display: none;
    }

    #sals-logo {
        flex-grow: initial;
        align-self: initial;
    }
}

/* || Navigation Bar*/
aside {
    background-color: var(--color-primary-a20);
    height: calc(100vh - var(--side-nav-offset)); /* set by the Javascript */
    overflow: hidden;

    position: sticky;
    top: var(--side-nav-offset);
    left: 0;
    bottom: 0;
    z-index: 20;
}

aside nav {
    display: flex;
    flex-direction: column;
}

aside .overlay {
    display: none;
}

/* || Navigation links */
aside a,
#theme-switch,
#close-btn {
    color: var(--color-on-primary);
    text-decoration: none;
    padding: var(--spacing);
    box-sizing: border-box;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    transition: background-color var(--transition-duration);
}

aside a:hover,
#theme-switch:hover,
#close-btn:hover {
    background-color: var(--color-primary-a10);
}

aside a.selected,
#theme-switch:active,
#close-btn:active {
    background-color: var(--color-primary-a0);
}

.nav-bar-top {
    display: flex;
}

/* || Icon for switching themes */
#theme-switch,
#close-btn {
    --icon-height: 1.5em;
    height: calc(var(--icon-height) + 2 * var(--spacing));
    border-radius: var(--border-radius);
    cursor: pointer;
}

#close-btn {
    display: none; /* hide on big screens */
    margin-left: auto;
}

@media only screen and (max-width: 900px) {
    aside {
        display: block;
        max-width: 90%;
        position: fixed;
        top: var(--side-nav-offset);
        left: 0;
        bottom: 0;
        transition: left var(--transition-duration);
    }

    .nav-bar-hidden aside {
        /* move the bar out of the viewport */
        left: -100%;
    }

    aside + .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;

        background-color: black;
        opacity: 0.8;
        transition: opacity var(--transition-duration);
        cursor: pointer;
    }

    .nav-bar-hidden aside + .overlay {
        pointer-events: none;
        opacity: 0;
    }

    #close-btn {
        display: block;
    }
}

@media only screen and (min-width: 901px) {
    aside nav {
        word-wrap: initial;
        -webkit-hyphens: initial;
        hyphens: initial;
        white-space: nowrap;
        overflow: hidden;
        direction: rtl;
        text-align: left;
    }
}
