/*
Do not import 'values.css' here!
This would result in importing 'values.css' twice because
this file is imported into the main style which already
imports the values
*/

* {
    margin: 0;
    padding: 0;
}

header {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
}

/* || Top Bar */
.top-bar {
    background-color: var(--color-primary-a0);
    color: var(--color-on-primary);
    padding: var(--spacing) var(--root-spacing);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title {
    color: var(--color-on-primary);
    flex-grow: 1;
    margin: 0;
    margin-left: 20px;
    font-size: 40px;
}

@media only screen and (max-width: 900px) {
    #title {
        font-size: 25px;
    }

    #sals-logo,
    #mbg-logo {
        height: 45px;
    }
}

@media only screen and (max-width: 800px) {
    .top-bar {
        padding: var(--spacing);
    }

    #sals-logo,
    #mbg-logo {
        height: 40px;
    }
}

@media only screen and (max-width: 650px) {
    #title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    #title {
        display: none;
    }
}

@media only screen and (max-width: 400px) {

    #sals-logo,
    #mbg-logo {
        height: 35px !important;
    }
}

/* || Navigation Bar*/
.nav-header {
    display: none;
}

.nav-container {
    background-color: var(--color-primary-a20);
}

.nav-container nav {
    display: flex;
    flex-direction: row;
}

/* || Navigation links */
.nav-container a,
#menu-title {
    color: var(--color-on-primary);
    text-decoration: none;
    margin: 0;
    padding: var(--spacing);
    box-sizing: border-box;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    transition: background-color var(--transition-duration);
}

.nav-container a:first-child {
    border-bottom-left-radius: 0;
}

.nav-container a:hover {
    background-color: var(--color-primary-a10)
}

.nav-container a.selected {
    background-color: var(--color-primary-a0);
}

/* Dropdown navigation for smaller screens */
@media only screen and (max-width: 900px) {
    .nav-header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: border-bottom var(--transition-duration) ease-out;
    }

    .menu-icon {
        padding-right: var(--spacing);
    }

    .nav-container nav {
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: var(--color-primary-a20);
        transform-origin: top;
        transition: transform var(--transition-duration) ease-out;
    }

    .nav-container a {
        width: 100%;
        border-radius: 0;
    }

    .nav-header {
        border-bottom: transparent solid 1px;
    }

    .nav-header:has(~ nav.visible) {
        border-bottom: var(--color-on-secondary) solid 1px;
    }

    .nav-container nav {
        transform: scaleY(0);
    }

    .nav-container nav.visible {
        transform: scaleY(1);
    }
}
#theme-switch {
    height: 1.5rem;
    width: 1.5rem;
}