@import "values.css";
@import "header-style.css";
@import "footer-style.css";

@font-face {
    font-family: lato;
    src: url("../font/Lato-Regular.ttf");
}

/* || General Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "lato";
    background-color: var(--background-color);
    color: white;
    min-height: 100vh;

    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;

    display: flex;
    flex-direction: column;
}

.content {
    margin: 0 var(--root-spacing);
    font-size: 18px;
    flex-grow: 1;
}

.card {
    background-color: var(--surface-color);
    margin: var(--root-spacing) 0;
    padding: var(--spacing);
    border-radius: var(--border-radius);
    line-height: 1.5;
    box-shadow: 0 0 10px -4px black;
}

.card * {
    /* remove the gap at the bottom edge of the card */
    vertical-align: bottom;
}

.card :last-child {
    margin-bottom: 0;
}

/* || Text */
p {
    margin-bottom: var(--spacing);
}

p:has(+ ul) {
    margin-bottom: 0;
}

h1 {
    margin-bottom: var(--spacing);
    color: var(--secondary-color);
}

h2 {
    margin-bottom: var(--spacing);
    color: var(--primary-color);
    font-size: 28px;
}

h3 {
    margin-bottom: 4px;
    color: var(--secondary-color);
}

ul {
    margin-left: 1em;
    margin-bottom: var(--spacing);
}

a {
    color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    p,
    ul {
        font-size: 16px;
    }
}

/* || Media */
.image,
video {
    width: 100%;
    max-width: var(--media-max-width);
}

video {
    border-radius: var(--border-radius);
}

.bannerimage {
    width: 100%;
}

/* || Tables */
table {
    width: 100%;
    max-width: var(--media-max-width);
    margin-top: var(--spacing);
}

td,
th {
    border: 2px solid black;
    padding: var(--border-radius);
    background-color: var(--primary-color);
}

th {
    background-color: var(--secondary-color);
}

/* || Utility */
.space-horizontal,
.space-vertical {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* min space between: 10px */
    gap: var(--spacing);
}

.space-horizontal {
    flex-direction: row;
}

.space-vertical {
    flex-direction: column;
}

.space-vertical img,
.space-horizontal img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
